<div class="chop chop--loading" data-type="accordion" data-param="{{ param }}">
    <!-- Additional Tabs markup -->
    <div class="chop__navigation">
        <div class="chop__tab">First</div>
        <div class="chop__tab">Second</div>
        <div class="chop__tab">Third</div>
    </div>

    <!-- Accordion default markup -->
    <div class="chop__wrap">
        <div class="chop__item">
            <div class="chop__header">First</div>
            <div class="chop__content">Some content for first accordion item <div style="height:600px;"></div></div>
        </div>
        <div class="chop__item">
            <div class="chop__header">Second</div>
            <div class="chop__content">Some content for second accordion item <div style="height:600px;"></div></div>
        </div>
        <div class="chop__item">
            <div class="chop__header">Third</div>
            <div class="chop__content">Some content for third accordion item <div style="height:600px;"></div></div>
        </div>
    </div>
</div>